<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  parallel="tests" name="Suite">
	<listeners>
		<listener class-name="Framework_Tutorial.testComponents.Listeners"></listener>
	</listeners>

   <test thread-count="5" name="submit order Testing">
    <classes>
      <class name="Framework_Tutorial.submitOrderTest"/>
 
    </classes>
  </test> 
  <test thread-count="5" name="error Message Testing">
    <classes>
      <class name="Framework_Tutorial.errorMessageTest"/>
 
    </classes>
  </test> 

  
   <!-- Test -->
</suite> <!-- Suite -->
